.foods-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.food-card {
    border: 1px solid rgb(199, 126, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    background-color: white

}

img {
    width: 150px;
    height: 100px;
}

.search-div {
    display: flex;
    justify-content: center;
    margin: 20px 0
}

.search-label {
    margin: 0 10px
}

.add-food {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center
}

.formDiv {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

}

.add-submit {
    align-self: center;
    margin-top: 20px
}

input {
    max-width: 150px
}